<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <meta name="Description" content="Enter your description here" />
          <link rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
          <title>Game</title>
     </head>

     <style>
          * {
               font-family: 'open sans';
               font-weight: 700;
               font-size: 36px;
          }

          .picked {
               width: 223px;
               height: 204px;
               border-radius: 30px;
               background-color: #C4C4C4;
               z-index: -1;
          }
     </style>

     <body style="background-color: #9C835F">
          <div class="container">
               <nav class="navbar navbar-expand-lg">
                    <a href="/" style="text-decoration: none; color: #724C21;">
                         < </a>
                              &nbsp;&nbsp;&nbsp;
                              <a class="navbar-brand" href="#"><img src="logo.png" alt="logo"> </a>
                              &nbsp;&nbsp;&nbsp;
                              <span style="color: #F9B23D "> ROCK PAPER SCISSORS </span>
               </nav>
               <br>
               <section align="center">
                    <div class="row">
                         <div class="col">
                              PLAYER 1
                              <br>
                              <div class="row">
                                   <div class="col-12 mb-3 mt-3">
                                        <div id="player-batu" class="d-flex justify-content-center align-items-center">
                                             <a href="#" class="player" onclick="playerPick('batu')" id=""><img
                                                       src="batu.png" style="width:128px; height: 92px;" class=""
                                                       alt="rock"></a>
                                        </div>
                                   </div>
                                   <div class="col-12 mb-3">
                                        <div id="player-kertas"
                                             class="d-flex justify-content-center align-items-center">
                                             <a href="#" class="player" onclick="playerPick('kertas')" id=""><img
                                                       src="kertas.png" style="width:115px; height: 150px;"
                                                       alt="paper"></a>
                                        </div>
                                   </div>
                                   <div class="col-12">
                                        <div id="player-gunting"
                                             class="d-flex justify-content-center align-items-center">
                                             <a href="#" class="player" onclick="playerPick('gunting')" id=""><img
                                                       src="gunting.png" style="width:134px; height: 160px;"
                                                       alt="scissors"></a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="col d-block align-items-center justify-content-center">
                              <div style="font-size: 144px; color: #BD0000" class="mt-5">
                                   <span class="" id="vs">
                                        VS
                                   </span>
                                   <span id="player-win" class="visually-hidden">
                                        <div class="d-inline-block" style="transform: rotate(-30deg);">
                                             <div class="d-flex justify-content-center align-items-center"
                                                  style="width: 271.11px; height: 166.93px; background-color: #4C9654;">
                                                  <p class="text-white">Player 1 Win!</p>
                                             </div>
                                        </div>
                                   </span>

                                   <span id="com-win" class="visually-hidden">
                                        <div class="d-inline-block" style="transform: rotate(-30deg);">
                                             <div class="d-flex justify-content-center align-items-center"
                                                  style="width: 271.11px; height: 166.93px; background-color: #4C9654;">
                                                  <p class="text-white">Computer Win!</p>
                                             </div>
                                        </div>
                                   </span>

                                   <span id="draw" class="visually-hidden">
                                        <div class="d-inline-block" style="transform: rotate(-30deg);">
                                             <div class="d-flex justify-content-center align-items-center"
                                                  style="width: 271.11px; height: 166.93px; background-color: #4C9654;">
                                                  <p class="text-white">DRAW!</p>
                                             </div>
                                        </div>
                                   </span>
                              </div>
                         </div>

                         <div class="col justify-content-center" align="center">
                              COM
                              <div class="col-12 mb-3 mt-3">
                                   <div id="com-batu" class="d-flex justify-content-center align-items-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                             <a href="#" class="com"><img src="batu.png"
                                                       style="width:128px; height: 92px;" alt="rock"></a>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-12 mb-3">
                                   <div id="com-kertas" class="d-flex justify-content-center align-items-center">
                                        <a href="#" class="com" id=""><img src="kertas.png"
                                                  style="width:115px; height: 150px;" alt="paper"></a>
                                   </div>
                              </div>
                              <div class="col-12">
                                   <div id="com-gunting" class="d-flex justify-content-center align-items-center">
                                        <a href="#" class="com" id=""><img src="gunting.png"
                                                  style="width:134px; height: 160px;" alt="scissors"></a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div align="center">
                         <a href="#" id="refresh" onclick="restart()"><img src="refresh.png" alt="refresh"
                                   style="height: 71px; width: 77px"></a>
                    </div>
               </section>
          </div>

          <script src="/index.js" type="text/javascript"></script>
     </body>

</html>