<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <meta http-equiv="X-UA-Compatible" content="ie=edge" />
          <meta name="Description" content="Enter your description here" />
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
               integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
               crossorigin="anonymous">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
               integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
               crossorigin="anonymous"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
          <link rel="stylesheet" type="text/css" href="style.css" />
          <title>Welcome</title>
     </head>

     <body>
          <section id="home">
               <nav class="navbar navbar-expand-md navbar-dark">
                    <div class="container-fluid">
                         <a class="navbar-brand" href="#"><i class="bi-github" role="img" aria-label="GitHub"></i> Rock
                              Paper Strategy
                         </a>
                         <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                              aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                         </button>
                         <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                              <ul class="navbar-nav">
                                   <li class="nav-item">
                                        <a class="nav-link text-white" href="#home">Home</a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Work</a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Contact</a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link text-white" href="#">About Me</a>
                                   </li>
                              </ul>
                              <!-- place on the right end -->
                              <ul class="navbar-nav align-self-end">
                                   <li class="nav-item">
                                        <a href="#" class="nav-link text-white">Sign Up</a>
                                   </li>
                                   <li class="nav-item">
                                        <a href="/login" class="nav-link text-white">Login</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </nav>
               <div align="center" id="main-center">
                    <h1 align="center">PLAY TRADITIONAL GAME</h1>
                    <br /><br />
                    <h3 align="center">Experience new tradition play</h3>
                    <br /><br />
                    <a class="btn btn-lg btn-warning" href="/login" role="button">PLAY NOW</a>
               </div>

               <div id="bottom1" class="align-items-center">
                    <a class="btn btn-lg" href="#the-games" style="color: white" role="button"><i
                              class="bi bi-caret-down"></i>
                         <br />
                         THE STORY</a>
               </div>
          </section>

          <section id="the-games">
               <div class="container-fluid p-5">
                    <div class="row" style="top: 25vh; position: relative">
                         <div class="col-4" align="center" style="color: white">
                              <h3>What's So Special?</h3>
                              <h1>THE GAMES</h1>
                         </div>

                         <div class="col">
                              <div id="carousel-thegames" class="carousel slide" data-bs-ride="carousel">
                                   <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carousel-thegames" data-bs-slide-to="0"
                                             class="active" aria-current="true"></button>
                                        <button type="button" data-bs-target="#carousel-thegames"
                                             data-bs-slide-to="1"></button>
                                        <button type="button" data-bs-target="#carousel-thegames"
                                             data-bs-slide-to="2"></button>
                                        <button type="button" data-bs-target="#carousel-thegames"
                                             data-bs-slide-to="3"></button>
                                        <button type="button" data-bs-target="#carousel-thegames"
                                             data-bs-slide-to="4"></button>
                                   </div>
                                   <div class="carousel-inner">
                                        <div class="carousel-item active">
                                             <img src="rockpaperstrategy-1600.jpg" class="d-block w-100"
                                                  alt="rockpaperstrategy-1600" />
                                        </div>
                                        <div class="carousel-item">
                                             <img src="rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                                        </div>
                                        <div class="carousel-item">
                                             <img src="rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                                        </div>
                                        <div class="carousel-item">
                                             <img src="rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                                        </div>
                                        <div class="carousel-item">
                                             <img src="rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                                        </div>
                                   </div>
                                   <button class="carousel-control-prev" type="button"
                                        data-bs-target="#crousel-thegames" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                   </button>
                                   <button class="carousel-control-next" type="button"
                                        data-bs-target="#crousel-thegames" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                   </button>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <section id="features">
               <div class="container-fluid">
                    <div class="row">
                         <div class="col" align="center"></div>
                         <div class="col-5 py-5" style="color: #ffffff">
                              <h3>What's so special?</h3>
                              <h1>FEATURES</h1>
                              <br><br>
                              <ul class="features">
                                   <li class="list" style="color:#FFB548;">
                                        <h3>TRADITIONAL GAMES</h3>
                                   </li>
                                   <p style="font-size: 18px;">if you miss your childhood, we provide many traditional
                                        games here</p>
                                   <br><br>
                                   <li class="list" style="color:#FFB548;">
                                        <h3>GAME SUIT</h3>
                                   </li>
                                   <li class="list" style="color:#FFB548;">
                                        <h3>TBD</h3>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </section>

          <section id="requirements">
               <div class="container">
                    <br><br>
                    <p align="center" class="text-white" style="font-size: 24px;">Can My Computer Run this Game?</p>
                    <br><br>
                    <div class="row">
                         <div class="col text-white">
                              <h1>SYSTEM REQUIREMENTS</h1>
                              <br><br>
                              <table class="table table-bordered text-white" style="font-size: 18px;">
                                   <tr>
                                        <td>
                                             <div class="text-warning">OS:</div>
                                             Windows 7 64-bit only
                                             (No OSX support at this time)
                                        </td>
                                        <td>
                                             <div class="text-warning">PROCESSOR:</div>
                                             Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <div class="text-warning">MEMORY:</div>
                                             4 GB RAM
                                        </td>
                                        <td>
                                             <div class="text-warning">Storage:</div>
                                             8 GB available space
                                        </td>
                                   </tr>
                                   <tr>
                                        <td colspan="2">
                                             <div class="text-warning">GRAPHICS: </div>
                                             NVIDIA GeForce GTX 660 2GB or <br>
                                             AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                        </td>
                                   </tr>
                              </table>
                         </div>
                         <div class="col">

                         </div>
                    </div>
               </div>
          </section>

          <section id="top-score">
               <div class="container">
                    <div class="row align-items-center">
                         <div class="col" align="center">
                              <h1 align="center" class="text-white">TOP SCORES</h1>
                              <br>
                              <p class="text-white">This top score from various games provided on this platform </p>
                              <br><br>
                              <a class="btn bg-warning btn-lg" href="#">See More</a>
                         </div>
                         <div class="col mt-5 pt-5">
                              <div class="row">
                                   <!-- create user review -->
                                   <div class="col">
                                        <div class="card text-white"
                                             style="background-color:rgba(255, 255, 255, 0.08);">
                                             <div class="card-body">
                                                  <div class="row">
                                                       <div class="col-md-3">
                                                            <img src="evan-lahti.jpg" class="rounded-circle"
                                                                 alt="avatar">
                                                       </div>
                                                       <div class="col-md-9">
                                                            <div class="card-title text-wrap">
                                                                 <h5 class="card-title text-warning">Evan Lahti</h5>
                                                                 PC Gamer
                                                            </div>
                                                            <p class="card-text">“One of my gaming highlights of the
                                                                 year.”</p>
                                                            <p class="card-text">
                                                                 <small class="text-white-50">June 18, 2021</small>
                                                            </p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <br>
                              <div class="row justify-content-between">
                                   <!-- create user review -->
                                   <div class="col-1"></div>
                                   <div class="col p-3">
                                        <div class="card text-white"
                                             style="background-color:rgba(255, 255, 255, 0.08);">
                                             <div class="card-body">
                                                  <div class="row">
                                                       <div class="col-md-3">
                                                            <img src="jada-griffin.jpg" class="rounded-circle"
                                                                 alt="avatar">
                                                       </div>
                                                       <div class="col-md-9">
                                                            <div class="card-title text-wrap">
                                                                 <h5 class="card-title text-warning">Jada Griffin</h5>
                                                                 PC Gamer
                                                            </div>
                                                            <p class="card-text">“The next big thing in the world of
                                                                 streaming and survival games.”
                                                            </p>
                                                            <p class="card-text">
                                                                 <small class="text-white-50">July 10, 2021</small>
                                                            </p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <br>
                              <div class="row">
                                   <!-- create user review -->
                                   <div class="col">
                                        <div class="card text-white"
                                             style="background-color:rgba(255, 255, 255, 0.08);">
                                             <div class="card-body">
                                                  <div class="row">
                                                       <div class="col-md-3">
                                                            <img src="aaron-williams.jpg" class="rounded-circle"
                                                                 alt="avatar">
                                                       </div>
                                                       <div class="col-md-9">
                                                            <div class="card-title text-wrap">
                                                                 <h5 class="card-title text-warning">Aaron Williams</h5>
                                                                 PC Gamer
                                                            </div>
                                                            <p class="card-text">“Snoop Dogg Playing The Wildly
                                                                 Entertaining ‘SOS’ Is Ridiculous.”</p>
                                                            <p class="card-text">
                                                                 <small class="text-white-50">December 24, 2021</small>
                                                            </p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <section id="newsletter">
               <div class="container">
                    <div class="row text-white">
                         <div class="col justify-content-center p-5">
                              <!-- create black shadow over the image -->
                              <img src="skull.png" alt="skull" class="img-fluid"
                                   style="box-shadow: inset 0px 0px 30px 30px rgba(0,0,0);">
                         </div>
                         <div class="col p-5">
                              <h3>Want to stay in <br> touch?</h3>
                              <h1>NEWSLETTER SUBSCRIBE</h1>
                              <p>In order to start receiving our news, all you have to do is enter your email address.
                                   Everything else will be taken care
                                   of by us. We will send you emails containing information about game. We don’t spam.
                              </p>
                              <br>
                              <form action="#" method="post">
                                   <div class="input-group">
                                        <input type="email" name="email" placeholder="Enter your email address"
                                             class="form-control">
                                        &nbsp;&nbsp;&nbsp;
                                        <button type="submit" class="btn btn-warning btn-lg">Subscribe Now</button>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
               <footer style="font-size:12px;">
                    <div class="container">
                         <ul class="nav justify-content-end navbar-dark text-white">
                              <li class="nav-link"><a href="#">MAIN</a></li>
                              <li class="nav-link"><a href="#">ABOUT</a></li>
                              <li class="nav-link"><a href="#">GAME FEATURES</a></li>
                              <li class="nav-link"><a href="#">SYSTEM REQUIREMENTS</a></li>
                              <li class="nav-link"><a href="#">QUOTES</a></li>
                              <li class="nav-link"><a href="#"><img src="facebook.svg" alt="facebook"></a>
                              </li>
                              <li class="nav-link"><a href="#"><img src="twitter.svg" alt="twitter"></a></li>
                              <li class="nav-link"><a href="#"><img src="youtube.svg" alt="youtube"></a></li>
                              <li class="nav-link"><a href="#"><img src="twitch.svg" alt="twitch"></a></li>
                         </ul>
                         <div align="center">
                              <hr color="white" width="80%" align="center" size="2px" />
                         </div>
                         <br>
                         <div class="row">
                              <div class="col-4">
                                   <p class="text-white">&copy; 2018 Your Games, Inc. All Rights Reserved</p>
                              </div>
                              <div class="col-8">
                                   <ul class="nav justify-content-end text-white" align="right">
                                        <li class="nav-link footer-link">
                                             <a href="#">PRIVACY
                                                  POLICY</a>
                                        </li>
                                        <li class="nav-link footer-link"><a href="#">TERMS OF
                                                  SERVICES</a></li>
                                        <li class="nav-link footer-link"><a href="#">CODE OF CONDUCT</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </footer>
          </section>
     </body>

</html>