<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <meta name="Description" content="Enter your description here" />
          <link rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
          <title>Login</title>
     </head>

     <body>
          <div class="container">
               <% if (message.length> 0) { %>
                    <div class="alert alert-primary" role="alert">
                         <%= message %>
                              <button type="button" class="btn-close" data-bs-dismiss="alert"
                                   aria-label="Close"></button>
                    </div>
                    <% }%>
                         <h1 align="center">Login</h1>
                         <form action="/process" method="post">
                              <div class="form-group">
                                   <label for="email" class="form-label">Email</label>
                                   <input class="form-control" type="email" name="email"
                                        placeholder="Enter your email address" required>
                              </div>
                              <br>
                              <div class="form-group">
                                   <label for="password" class="form-label">Password</label>
                                   <input class="form-control" type="password" name="password"
                                        placeholder="Enter your password" required>
                              </div>
                              <br>
                              <button class="btn btn-primary" type="submit">Login</button>
                         </form>
          </div>



     </body>

</html>