.footer-link {
     border-right: 1px solid #fff;
     line-height: 2px;
}

body,
html {
     height: 100%;
     margin: 0;
}

a {
     text-decoration: none;
     color: #ffffff;
}

.navbar-brand {
     font-size: 30px;
}

nav {
     text-decoration: none;
     background-color: rgba(0, 0, 0, 0.5);
     color: #ffffff;
}

h1 {
     font-size: 72px;
}

h3 {
     font-size: 24px;
}

#main-center {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #ffffff;
}

#bottom1 {
     position: absolute;
     left: 0;
     width: 100%;
     text-align: center;
     font-weight: 700;
     bottom: 0;
}

section {
     height: 100%;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}

section#home {
     background-image: url("main-bg.jpg");
}

section#the-games {
     background-image: url("the-games-bg.jpg");
}

section#features {
     background-image: url("features.jpg");
}

section#requirements {
     background-image: url("requirements.png");
     background-size: contain;
     background-color: black;
}

section#top-score {
     background-image: url("top-score-bg.png");
}

section#newsletter {
     background-image: url("newsletter.png");
}

.list {
     font-size: 200%;
     list-style-type: circle;
}

.text-warning {
     font-size: 24px;
}